<style id="lighthouse-style-inline-css" type="text/css">/* Color Scheme */
	/* Accent Color */
	a:active,
	a:hover,
	a:focus {
		color: #373e4a;
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: #373e4a;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #373e4a;
		background: #373e4a;
		border-color:#373e4a;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		color: #373e4a !important;			
	}
	.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {	    
		background-color: #373e4a;
	}
	.btn, .btn-default:visited, .btn-default:active:hover, .btn-default.active:hover, .btn-default:active:focus, .btn-default.active:focus, .btn-default:active.focus, .btn-default.active.focus {
		background: #373e4a;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		color: #373e4a;
	}
	.cat-links a, .tags-links a {
		color: #373e4a;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
		color: #fff;
		background-color: #373e4a;
	}
	h5.entry-date a:hover {
		color: #373e4a;
	}
	 #respond input#submit {
	background-color: #373e4a;
	background: #373e4a;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	background-color: #fff;
}
.top-widgets h3:after {
	display: block;
	max-width: 60px;
	background:  #373e4a;
	height: 3px;
	content: ' ';
	margin: 0 auto;
	margin-top: 10px;
}
.bottom-widgets h3:after {
	display: block;
	max-width: 60px;
	background:  #373e4a;
	height: 3px;
	content: ' ';
	margin: 0 auto;
	margin-top: 10px;
}
button:hover, button, button:active, button:focus {
	border: 1px solid #373e4a;
	background-color:#373e4a;
	background:#373e4a;
}
.dropdown-menu .current-menu-item.current_page_item a, .dropdown-menu .current-menu-item.current_page_item a:hover, .dropdown-menu .current-menu-item.current_page_item a:active, .dropdown-menu .current-menu-item.current_page_item a:focus {
	background: #373e4a !important;
	color:#fff !important
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		background-color: #373e4a;
		color: #fff;
	}
}
blockquote {
	border-left: 5px solid #373e4a;
}
.sticky-post{
	background: #373e4a;
	color:white;
}
.entry-title a:hover,
.entry-title a:focus{
	color: #373e4a;
}
.entry-header .entry-meta::after{
	background: #373e4a;
}
.post-password-form input[type="submit"], .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus, .post-password-form input[type="submit"]:active {
	background-color: #373e4a;
}
.fa {
	color: #373e4a;
}
.btn-default{
	border-bottom: 1px solid #373e4a;
}
.btn-default:hover, .btn-default:focus{
	border-bottom: 1px solid #373e4a;
	background-color: #373e4a;
}
.nav-previous:hover, .nav-next:hover{
	border: 1px solid #373e4a;
	background-color: #373e4a;
}
.next-post a:hover,.prev-post a:hover{
	color: #373e4a;
}
.posts-navigation .next-post a:hover .fa, .posts-navigation .prev-post a:hover .fa{
	color: #373e4a;
}
#secondary .widget-title {
border-left: 3px solid #373e4a;
}
	#secondary .widget a:hover,
	#secondary .widget a:focus{
color: #373e4a;
}
	#secondary .widget_calendar tbody a {
background-color: #373e4a;
color: #fff;
padding: 0.2em;
}
	#secondary .widget_calendar tbody a:hover{
background-color: #373e4a;
color: #fff;
padding: 0.2em;
}</style>