<div class="header-position">

<!--<h1 class="logo">{{ page.title }}</h1>-->
<nav class="site-nav">
<ul>
 <li><a href="/"        style="text-decoration:none; color:#fff">Home</a></li>
 <li><a href="https://goto.pc-cdn.de/kontakt"       style="text-decoration:none; color:#fff">Kontakt</a></li>
 <li><a href="https://goto.pc-cdn.de/impressum"       style="text-decoration:none; color:#fff">Impressum</a></li>
 <li><a href="https://goto.pc-cdn.de/haftungsausschluss"       style="text-decoration:none; color:#fff">Haftungsausschluss</a></li>
 <li><a href="https://goto.pc-cdn.de/datenschutz"       style="text-decoration:none; color:#fff">Datenschutz</a></li>
 <li><a href="https://goto.pc-cdn.de/quellenangaben"       style="text-decoration:none; color:#fff">Quellennachweise</a></li>
 </ul>
</nav>

</div>
