{% include dark_light_button.html %}


<input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
<label for="page-nav-toggle">
  <svg class="icon--menu-toggle" viewBox="0 0 60 30">
    <g class="icon-group">
      <g class="icon--menu">
        <path d="M 6 0 L 54 0" />
        <path d="M 6 15 L 54 15" />
        <path d="M 6 30 L 54 30" />
      </g>
      <g class="icon--close">
        <path d="M 15 0 L 45 30" />
        <path d="M 15 30 L 45 0" />
      </g>
    </g>
  </svg>
</label>


<nav class="main-navigation">
<ul>
<li><i class="fas fa-home" style="text-decoration:none; color:#fff"></i>
      <a href="/" style="text-decoration:none; color:#fff">Home</a></li>
<li><i class="fas fa-book" style="text-decoration:none; color:#fff"></i>
      <a href="https://hausbau-blog.pfeiffer.world/bautagebuch/index.html" style="text-decoration:none; color:#fff">Bautagebuch</a></li>
<li><i class="fas fa-user-lock" style="text-decoration:none; color:#fff"></i>
      <a href="https://privater-hausbau-blog.pfeiffer.world/privates-bautagebuch/index.html" style="text-decoration:none; color:#fff">Privates Bautagebuch</a></li>
<hr>
<li><i class="fas fa-folder-plus" style="text-decoration:none; color:#fff"></i>
     <a href="#" style="text-decoration:none; color:#fff">Kontakt:</a></li>
<li><i class="far fa-folder-open" style="text-decoration:none; color:#fff"></i>
     <a href="https://goto.pc-cdn.de/kontakt" style="text-decoration:none; color:#fff">Kontaktformular</a></li>
<li><i class="far fa-folder-open" style="text-decoration:none; color:#fff"></i>
     <a href="https://goto.pc-cdn.de/impressumhbb" style="text-decoration:none; color:#fff">Impressum</a></li>
<li><i class="far fa-folder-open" style="text-decoration:none; color:#fff"></i>
     <a href="https://goto.pc-cdn.de/haftungsausschluss" style="text-decoration:none; color:#fff">Haftungsausschluss</a></li>
<li><i class="far fa-folder-open" style="text-decoration:none; color:#fff"></i>
     <a href="https://goto.pc-cdn.de/datenschutz" style="text-decoration:none; color:#fff">Datenschutz</a></li>
<li><i class="far fa-folder-open" style="text-decoration:none; color:#fff"></i>
     <a href="https://goto.pc-cdn.de/quellenangaben" style="text-decoration:none; color:#fff">Quellennachweise</a></li>
<li><i class="far fa-folder-open" style="text-decoration:none; color:#fff"></i>
     <a href="/cookieinfo.html" style="text-decoration:none; color:#fff">Cookie-Infos</a></li>
</ul>
</nav>

<!--
</div> 
</div>
</nav>
-->
