<p>©2017-{{ site.time | date: "%Y" }} | Alle Rechte vorbehalten.</p>
<hr>
<a href="https://pc-cdn.statuspage.io/">
<i class="fas fa-wifi"></i> Statuspage</a>
<br>
<statusbanner onload="statusEmbedTest()">
<script src="https://pc-cdn.statuspage.io/embed/script.js"></script>
</statusbanner>
<div class="meta"> <!-- the colored dot gets an extra class and description text gets inserted via javascript -->
<a href="http://acmeapico.statuspage.io" target="_blank"> <span class="color-dot"></span> <span class="color-description"></span> 
</a>
</div>
