{% assign countRelatedPosts = 0 %}
{% assign maxRelatedPosts = 5 %}
{% assign relatedPostLinks = '' %}
{% assign relatedPostIds = [] %}

{% for postTag in page.tags %}
    {% if countRelatedPosts >= maxRelatedPosts %}
        {% break %}
    {% endif %}

    {% for relatedPost in site.tags[postTag] %}
        {% if relatedPostIds contains relatedPost.id %}
            {% continue %}
        {% endif %}

        {% if relatedPost.url != page.url %}
            {% capture link %}
                <li>
                    <a href="{{ relatedPost.url | absolute_url }}"
                       title="Beitrag: {{ relatedPost.title }}">
                        {{ relatedPost.title }}
                    </a>
                </li>
            {% endcapture link %}

            {% assign relatedPostLinks = relatedPostLinks | append: link %}
            {% assign countRelatedPosts = countRelatedPosts | plus: 1 %}
            {% assign postIdArray = relatedPost.id | split: ',' %}
            {% assign relatedPostIds = relatedPostIds | concat: postIdArray %}

            {% if countRelatedPosts >= maxRelatedPosts %}
                {% break %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if relatedPostLinks != '' %}
    <div>
        <span>
            Hat dir der Beitrag gefallen? Dann interessiert dich vielleicht auch:
        </span>
        <ul>
            {{ relatedPostLinks }}
        </ul>
    </div>
{% endif %}
