---
layout: default
---
<!--<h2>{{ page.title }}</h2>-->
<p>
   <span class="meta genericon genericon-month">&nbsp;</span>Veröffentlicht am: {{ page.date | date: "%d.%m.%Y" }}
    <span class="meta genericon genericon-user">&nbsp;</span>Veröffentlicht von:  {{ author.name }} {{ page.author }} {{ post.author }}
</p>

<!--<p><img src="/assets/img/post-images/{{page.highresolutionimg}}" alt="Image: {{ page.title }}"></p>-->

<div class="post">
{{ content }}
</div>


{% include related_posts.html %}
