---
layout: default
---
<p class="meta genericon genericon-month">{{ page.date | date: "%d.%m.%Y" }}</p>
<h2>Bildergallerie</h2>
{% assign num = page.photos.size %}

  {% for i in (1..num) %}
<a href="{{ site.baseurl }}/assets/bildergalerien/{{ page.photos.set }}/{{ i }}.jpg"  data-lightbox="{{ page.photos.set }}" class="example-image-link" >
<img src="{{ site.baseurl }}/assets/bildergalerien/{{ page.photos.set }}_preview/{{ i }}.jpg" alt="Photo {{ i }} from {{ page.photos.set | capitalize }}">
</a>
  {% endfor %}



<h2>Informationen / Sonstiges</h2>
 {{ content }} 


{% include related_posts.html %}


<!--
<div>
  <a href="{{ site.baseurl }}/gallery/">View All Photo Sets</a>
</div>
-->
