---
layout: default
---
<p>
   <span class="meta genericon genericon-month">&nbsp;</span>Veröffentlicht am: {{ page.date | date: "%d.%m.%Y" }}
    <span class="meta genericon genericon-user">&nbsp;</span>Veröffentlicht von: 
      <a href="{{ site.baseurl }}/author/{{ author.name }}.html">{{ author.name }}</a> 
      <a href="{{ site.baseurl }}/author/{{ page.author }}.html">{{ page.author }}</a> 
      <a href="{{ site.baseurl }}/author/{{ post.author }}.html">{{ post.author }}</a> 
</p>


<h2>Bildergallerie</h2>
{% assign num = page.photos.size %}
  {% for i in (1..num) %}
<a href="{{ site.GallerieDir }}{{ page.photos.set }}/{{ i }}.jpg"  data-lightbox="{{ page.photos.set }}" class="example-image-link" >
<img src="{{ site.GallerieDir }}{{ page.photos.set }}_preview/{{ i }}.jpg" alt="Photo {{ i }} from {{ page.photos.set | capitalize }}">
</a>
  {% endfor %}


<h2>Informationen / Sonstiges</h2>
 {{ content }} 


{% include related_posts.html %}


<!--
<div>
  <a href="{{ site.baseurl }}/gallery/">View All Photo Sets</a>
</div>
-->
