<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
         {% include metafavicon.html %}
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/pc-cdn.style.css">






    <link href="https://cdn.rawgit.com/michalsnik/aos/2.0.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="http://isepg.pc-tests.tk/assets/css/main.css">
    <link rel="stylesheet" href="http://isepg.pc-tests.tk/assets/css/main.scss">


    <!-- {% if page.url == ".index.html" %} -->
    <!-- index -->
    <!-- {% endif %} -->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.0.1/dist/aos.js"></script>
    <script src="http://isepg.pc-tests.tk/assets/js/functions.js"></script>
  

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}


          <div class="footer">
            <div class="contact">
              <p>
                &copy; 2021 by pc-cdn.de 
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/pfeifferch">github.com/pfeifferch</a><br />
                <!-- <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br /> -->
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
