---
layout: default
---
{% for post in paginator.posts %} 
<blockquote><div style="  display: grid; gap: 1em;  margin: 0em;">
<div style="width: 30px; height: 100%;"><h1 id="kuller" class="genericon genericon-{{ post.layout }}">&nbsp;</h1></div>
<div style="height: 100%;">
	<span class="screen-reader-text">{{ post.title }}</span>
	<h2 class="entry-title">
	<a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
	</h2>
	<h5 class="entry-date">
	<a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">
	<time class="entry-date" datetime="{{ post.date | date_to_string }}" pubdate>{{ post.date | date_to_string }} </time>
	</a>
	{{ post.excerpt }}
	</h5>
</div>
</div>
</blockquote>
{% endfor %}


<!--
{% for post in paginator.posts %} 
<h1>{{ post.title }}</h1> 
{% endfor %}
-->

{% if paginator.total_pages > 1 %}
<div class="panel panel-default"> <div class="panel-heading"><div class="genericon genericon-hierarchy">&nbsp;</div>Mehr Artikel:</div> <div class="panel-body"> 
<h2><ul>
  {% if paginator.previous_page %}
  <span style="text-align:left" class="genericon genericon-previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </span>
  {% endif %}
<span style="width: 75%">
  {% if paginator.next_page %}
  <span style="text-align:right" class="genericon genericon-next">
  <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </span>
  {% endif %}
</ul></h2>
</div> </div>
{% endif %}
