<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "de" }}" class="no-js">

<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }}{% endif %}{% if site.title %} | {% endif %}{{ site.title }}{% if site.subtitle %} - {% endif %}{{ site.subtitle }}</title>
<link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
<link rel='stylesheet' href='{% if site.templateserverurl %}{{ site.templateserverurl }}{% else %}https://template.pc-cdn.de{% endif %}/content/themes/pro-sidebar-template/style.css'>
{% include metafavicon.html %}

{% if site.FAS == "CSS" or  page.FAS == "CSS" %}	<link rel="stylesheet" href="{% if site.templateserverurl %}{{ site.templateserverurl }}{% else %}https://template.pc-cdn.de{% endif %}/assets/fontawesome/css/all.css">
{% elsif site.FAS == "JS" or  page.FAS == "JS" %}	<script defer src="{% if site.templateserverurl %}{{ site.templateserverurl }}{% else %}https://template.pc-cdn.de{% endif %}/assets/fontawesome/js/all.js"></script>
{% elsif site.FAS == "FASkit" or  page.FAS == "FASkit" %}	<script src="https://kit.fontawesome.com/b6cffdb62c.js" crossorigin="anonymous"></script>
{% else %}	<!-- no Fontawesome -->	
{% endif %}

</head>
<body>
{% include gads.html %}
<!-- partial:index.partial.html -->
<div class="layout has-sidebar fixed-sidebar fixed-header">
  <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
    <div class="image-wrapper">
      <img src="{% if page.SidebarBackground %}{{ page.SidebarBackground }}{% elsif site.SidebarBackground %}{{ site.SidebarBackground }}{% else %}"https://user-images.githubusercontent.com/25878302/144499035-2911184c-76d3-4611-86e7-bc4e8ff84ff5.jpg"{% endif %}" alt="sidebar background" />
    </div>
    <div class="sidebar-layout">
      <div class="sidebar-header">
        <span style="
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 3px;
                font-weight: bold;
              ">{{ site.title }}{% if site.subtitle %} - {% endif %}{{ site.subtitle }}</span>
         </div>
      <div class="sidebar-content">
        <nav class="menu open-current-submenu"><h1>{% if page.title %}{{ page.title }}{% endif %}</h1></nav>
        <nav class="menu open-current-submenu">
          {% include navigation.html %}
        </nav>
      </div>
      <div class="sidebar-footer">{% include cookiebanner.html %}</div>
    </div>
  </aside>
  <div id="overlay" class="overlay"></div>
  <div class="layout">
    <header class="header">
      <a id="btn-collapse" href="#">
        <i class="ri-menu-line ri-xl"></i>
      </a>
      <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
        <i class="ri-menu-line ri-xl"></i>
      </a>
    </header>
    <main class="content">
      <div>
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
      <footer class="footer">
     <!-- article footer -->
     <!--   % include article-footer.html %} -->
     <!-- page footer -->
     <!--   % include page-footer.html %} -->
     <!-- site footer -->
        {% include site-footer.html %}
      </footer>
    </main>
    <div class="overlay"></div>
  </div>
</div>
<!-- partial -->
<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
<script src='https://unpkg.com/@popperjs/core@2'></script>
<script id="rendered-js" src="{% if site.templateserverurl %}{{ site.templateserverurl }}{% else %}https://template.pc-cdn.de{% endif %}/content/themes/pro-sidebar-template/script.js"></script>
</body>
</html>
